*{
    box-sizing: border-box;
    margin: 0px;
    padding: 0px;
}

div{
    height: 200px;
    width: 200px;
}
.red{
    background-color: red;
    position: sticky;
    top: 0px;
}
.blue{
    background-color: blue;
    /* position: sticky; */
    /* left: 100px; */
}
.green{
    background-color: green;
    
}

/* The default position is static */